* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}
#canvas {
  background-color: #293241;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#name {
  position: absolute;
  z-index: 1;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  color: #f9c74f;
}
#yash {
  font-size: 5.5rem;
  padding-left: 4px;
  padding-right: 4px;
}
#gosara {
  background-color: #001524;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width:800px) and (max-width:1000px) {
  #name{
    font-size: 4rem;
  }
  #yash{
    font-size: 7.1rem;
  }
}
@media screen and (min-width:1001px) and (max-width:1400px) {
  #name{
    font-size: 6rem;
  }
  #yash{
    font-size: 10.2rem;
  }
}

@media screen and (min-width:1401px) and (max-width:1900px) {
  #name{
    font-size: 6rem;
  }
  #yash{
    font-size: 10.2rem;
  }
}